body {
  background-color: lightgray;
}

h1 {
  color: blue;
  font-size: 100px;
  text-align: center;
  font-weight: bolder;
  margin-top: 10px;
}

.purple {
  color: purple;
}

#red {
  color: red;
}

#big-font {
  font-size: 40px;
}

#bold-font {
  font-weight: bold;
}

.back-black {
  background-color: #000;
}

.small-font {
  font-size: 10px;
}
